<!DOCTYPE html>
<html>
  <head>
    <title>CSV Details: <%= filename %></title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      .highlight {
        background-color: yellow;
      }
    </style>
    <script>
      function searchTable() {
        var input = document.getElementById('searchInput').value.toLowerCase();
        var rows = document.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
          let cells = rows[i].getElementsByTagName('td');
          let rowText = '';

          for (let j = 0; j < cells.length; j++) {
            rowText += cells[j].textContent.toLowerCase();
          }

          if (rowText.includes(input) && input) {
            rows[i].classList.add('highlight');
          } else {
            rows[i].classList.remove('highlight');
          }
        }
      }
    </script>
  </head>
  <body>
    <h1>CSV Details: <%= filename %></h1>
    <div>
      <label for="searchInput">Search:</label>
      <input type="text" id="searchInput" onkeyup="searchTable()" style="margin-bottom: 10px;"/>
    </div>
    <table>
      <thead>
        <tr>
          <% fileContent.split('\n')[0].split(',').forEach(function(column) { %>
          <th><%= column %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% fileContent.split('\n').slice(1).forEach(function(row) { %> <% if
        (row.trim().length > 0) { %>
        <tr>
          <% row.split(',').forEach(function(cell) { %>
          <td><%= cell %></td>
          <% }); %>
        </tr>
        <% } %> <% }); %>
      </tbody>
    </table>
    <div id="searchResult">
      <% if (fileContent.includes('\n') && fileContent.split('\n').length <= 2)
      { %>
      <p>No result Found</p>
      <% } %>
    </div>
  </body>
</html>
